.imageSection {
  flex: 1;
  width: 100%;
  position: relative;
}
.icon {
  position: absolute;
  top: 50px;
  left: 30px;
}
.heading {
  position: absolute;
  top: 18.75rem;
  left: 11.875rem;
  font-size: 4.5rem;
  font-weight: 700;
  color: white;
}
@media only screen and (max-width: 768px) {
  .heading {
    font-size: 3rem; /* Adjust the font size for smaller screens */
    top: 15rem; /* You may need to adjust the positioning as well */
    left: 6rem; /* You may need to adjust the positioning as well */
  }
}
.iconslist {
  position: absolute;
  gap: 10;
  bottom: 2.1875rem;
  display: flex;
  gap: 20px;
  align-items: center;
  left: 12.8125rem;
}
